<div class="col-sm-4 recipe_account_card">
  <div class="card mr-3 mb-3">
    <a href="#" data-toggle="modal" data-target="#recipe_<%= recipe.id %>">
      <!-- Button trigger modal -->
      <img class="card-img-top img-fluid" src="<%= recipe.picture %>" alt="<%= recipe.title %>">
    </a>
    <div class="card-body p-2">
      <h5 class="card-title text-warning"><%= recipe.title %> </h5>
      <!-- <p class="card-text text-muted font-italic">Created on: </p> -->

      <a href="#" class="btn btn-sm btn-warning float-right ml-2"><i class="icon fas fa-edit mr-1"></i> Edit</a>

      <a href="#" id="deleteRecipeBtn_<%= recipe.id %>" data-toggle="modal" data-target="#deleteRecipe_<%= recipe.id %>" class="delete_recipe_btn  btn btn-sm btn-danger float-right"><i class="icon fas fa-trash-alt mr-1"></i> Delete</a>

    </div>
  </div>
</div>

<!-- Modal -->
<%- include('../includes/recipe_delete_modal', {recipe: recipe}); %>
<%- include('../includes/recipe_modal', {recipe: recipe}); %>
