<div class="card my-4 recipe_preview">
  <div class="card-header bg-warning">
    <h3 class="text-dark text-uppercase font-weight-bold"><%= recipe.title %></h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <img class="recipe_preview mb-3" src="<%= recipe.picture%>" alt="<%= recipe.title%>" >
        <a href="#" class="btn btn-block btn-outline-danger btn-lg float- mt-2"> <i class="fas fa-laugh-beam"></i> View Recipe</a>
      </div>
      <div class="col-md-8">
        <p class="card-text"><i class="icon mr-2 font-25 fas fa-clock"></i> <%= recipe.cook_time %> minutes</p>
        <p class="card-text"><i class="icon mr-2 font-25 fas fa-info-circle"></i> <%= recipe.description %></p>
        <div class="d-flex flex-wrap">
          <i class="icon mr-2 py-1 font-25 fas fa-tags"></i>
            <% recipe.tags.forEach(function(tag) { %>
                <a href="#" class="mr-2 mb-2 px-2 tag text-lowercase"><%= tag %></a>
            <% }); %>
        </div>
      </div>
    </div>


  </div>
  <!-- <div class="card-footer text-muted text-center">
    2 days ago
  </div> -->
</div>
